.sidebarRow {
  flex: 0.2;
  display: flex;
  align-items: center;
}

.sidebarRow__icon {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
  color: grey;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: red;
}

.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}

.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}

.sidebarRow.selected {
  background-color: lightgrey;
}
